@import '../../../styles/colors';
@import '../../../styles/comon';

.projectsPage {
    display: flex;
    height: 100vh;
    background-color: $backgroundColor;
    color: white;
    justify-content: center;
    flex-direction: row;
    font-family: monospace;
    font-size: 20px;
}

.floppyContainer {
    display: inline-block;
    margin: 60px 60px -130px 0;
    perspective: 1200px;
}

.floppyDisk {
    position: fixed;
    bottom: 0px;
    width: 400px;
    height: 400px;
    border-bottom: 2px solid black;
    line-height: 200px;
    color: white;
    font-size: 18px;
    text-align: center;
    transform: rotateY(45deg) rotateX(15deg) rotateZ(45deg);
    transition: bottom 1s;
    &:hover {
        cursor: pointer;
        height: 400px;
        width: 400px;
        bottom: 50px;
    }
}

.hiitTracker{
    background-image: url("../../../assets/images/floppies/hiitTrackerFloppy.png");
    background-size: cover;
}

.hiitTracker3{
    background-image: url("../../../assets/images/floppies/hiitTrackerFloppyGreen.png");
    background-size: cover;
}

.hiitTracker4 {
    background-image: url("../../../assets/images/floppies/hiitTrackerFloppyRed.png");
    background-size: cover;
}

.takeOut {
    animation-name: takeOut;
    animation-duration: 2s;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    bottom: 500px;
    margin-left: -500px;
    &:hover {
        bottom: 500px;
        cursor: pointer;
    }
}

.putBack {
    animation-name: putBack;
    animation-duration: 2s;
    transform: rotateY(45deg) rotateX(15deg) rotateZ(45deg);
    bottom: 0px;
    &:hover {
        cursor: pointer;
        height: 400px;
        width: 400px;
        bottom: 50px;
    }
}

@keyframes takeOut {
    0% {
        transform: rotateY(45deg) rotateX(15deg) rotateZ(45deg);
        bottom: 0px;
        margin-left: 0;
    }
    50% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        bottom: 500px;
        margin-left: 0;
    }

    100% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        bottom: 500px;
        margin-left: -500px;
    }
}


@keyframes putBack {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        bottom: 500px;
        margin-left: -500px;
    }
    50% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        bottom: 500px;
        margin-left: 0;
    }

    100% {
        transform: rotateY(45deg) rotateX(15deg) rotateZ(45deg);
        bottom: 0px;
        margin-left: 0;
    }
}